body{
    background-color: antiquewhite;
    padding: 100px;
    width: 1000px;
    
}
h1{
    text-align: center;
    color: darkred;
}

.para{
    color: brown;
}

#section{
    color: blueviolet;
    border: 8px double darkgoldenrod;
    border-radius: 50px;
}