.h2{
    color: chartreuse;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 750px;
}
.para{
    margin-top: 50px;
    padding: 20px;
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: chocolate;
}